<%- include('./_header'); %>
<div class="container mt-2">
    <div class="row">
        <div class="col-lg">
            <section>
                <div class="container-fluid bg-light border border-primary rounded align-items-center">
                    <% if (messages.error) { %>
                        <div class="alert alert-error" role="alert">
                            <%= messages.error %>
                        </div>
                    <% } %>
                    <h2>Add User</h2>
                    <form action="/users/add" method="POST">
                        <div class="form-group">
                            <label for="callsign">Callsign</label>
                            <input type="text" id="callsign" name="callsign" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="role">User Role</label>
                            <select id="role" name="role">
                                <% for(var i=0; i < getRoles.length; i++) { %>
                                    <option value="<%= getRoles[i].role %>"><%= getRoles[i].role %></option>
                                <% } %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add User</button>
                    </form>
                    <br />
                </div>
            </section>
        </div> <!-- col-lg -->
  </div> <!-- row -->
  <div class="row" style="align-items:safe flex-end;">
    <div class="col-lg">
        <%- include('./_footer'); %>
    </div>
  </div>
</div>
<%- include('./_end_page'); %>