<%- include('./_header'); %>
<div class="container mt-2">
    <div class="row">
        <div class="col-lg">
            <section>
                <div class="container-fluid bg-light border border-primary rounded align-items-center">
                    <table class="table table-striped" width='100%'>
                        <thead>
                            <th scope="col">Callsign</th>
                            <th scope="col">Role</th>
                            <th scope="col">Last Updated</th>
                            <th scope="col">Actions</th>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < getUsers.length; i++) { %>
                                <tr>
                                    <td><%= getUsers[i].callsign %></td>
                                    <td><%= getUsers[i].role %></td>
                                    <td><%= getUsers[i].updated_at %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </section>
        </div> <!-- col-lg -->
  </div> <!-- row -->
  <div class="row" style="align-items:safe flex-end;">
    <div class="col-lg">
        <%- include('./_footer'); %>
    </div>
  </div>
</div>
<%- include('./_end_page'); %>